<div class="modal fade" id="companyDetailModal" tabindex="-1" role="dialog" aria-labelledby="companyDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="companyDetailModalLabel">Edit Company Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ url_for('companies.do_edit_company', company_id=company.company_id) }}" method="POST" enctype="application/x-www-form-urlencoded">
                <div class="modal-body modal-body-scrollable">

                    <input type="hidden" value="{{ company.company_id }}" name="company_id">
                    <div class="form-group">
                        <label for="companyName">Company Name</label>
                        <input type="text" class="form-control" id="companyName" name="company_name" value="{{ company.company_name }}">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" name="description">{{ company.description }}</textarea>
                    </div>

                    <div class="form-group">
                        <label for="addressLine1">Address Line 1</label>
                        <input type="text" class="form-control" id="addressLine1" name="address_line_1" value="{{ company.address_line_1 }}">
                    </div>
                    <div class="form-group">
                        <label for="addressLine2">Address Line 2</label>
                        <input type="text" class="form-control" id="addressLine2" name="address_line_2" value="{{ company.address_line_2 }}">
                    </div>
                    <div class="form-group">
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" name="city" value="{{ company.city }}">
                    </div>
                    <div class="form-group">
                        <label for="postalCode">Postal Code</label>
                        <input type="text" class="form-control" id="postalCode" name="postal_code" value="{{ company.postal_code }}">
                    </div>
                    <div class="form-group">
                        <label for="province">Province</label>
                        <input type="text" class="form-control" id="province" name="province" value="{{ company.province }}">
                    </div>
                    <div class="form-group">
                        <label for="country">Country</label>
                        <input type="text" class="form-control" id="country" name="country" value="{{ company.country }}">
                    </div>


                    <div class="form-group">
                        <label for="contactNumber">Contact Number</label>
                        <input type="text" class="form-control" id="contactNumber" name="contact_number" value="{{ company.contact_number }}">
                    </div>
                    <div class="form-group">
                        <label for="website">Website</label>
                        <input type="text" class="form-control" id="website" name="website" value="{{ company.website }}">
                    </div>
                    </div>

                <div class="modal-footer">
                    <button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="ti-close"></i> Close</button>
                    <button type="submit" class="btn btn-primary"><i class="ti-save"></i> Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
