{% extends "layouts/page.html" %}

{% block content %}
    <div class="card">
        <h2>Statements</h2>
        <table class="table table-responsive-sm table-striped">
            <tr>
                <th>Tenant Name</th>
                <th>Tenant ID</th>
                <th>Statement Number</th>
                <th>Month</th>
                <th>Amount</th>
            </tr>
            <tr>
                <td>John Smith</td>
                <td>123456789</td>
                <td>STM-001</td>
                <td>January 2023</td>
                <td>$500</td>
            </tr>
            <tr>
                <td>Sarah Johnson</td>
                <td>987654321</td>
                <td>STM-002</td>
                <td>February 2023</td>
                <td>$650</td>
            </tr>
            <tr>
                <td>Michael Davis</td>
                <td>456789123</td>
                <td>STM-003</td>
                <td>March 2023</td>
                <td>$550</td>
            </tr>
            <tr>
                <td>Emily Wilson</td>
                <td>321654987</td>
                <td>STM-004</td>
                <td>April 2023</td>
                <td>$700</td>
            </tr>
        </table>
    </div>
{% endblock %}
