{% extends "layouts/page.html" %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="ti-briefcase"> </i> Company Details</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h4>{{ company.company_name }}</h4>
                    <p><strong>Address:</strong> {{ company.address_line_1 }}</p>
                    <p><strong>City:</strong> {{ company.city }}</p>
                    <p><strong>Postal Code:</strong> {{ company.postal_code }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Province:</strong> {{ company.province }}</p>
                    <p><strong>Country:</strong> {{ company.country }}</p>
                    <p><strong>Contact Number:</strong> {{ company.contact_number }}</p>
                    <p><strong>Website:</strong> <a href="{{ company.website }}">{{ company.website }}</a></p>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <h3 class="card-title"><i class="ti-info"></i> Description</h3>
            <span class="card-text">{{ company.description }}</span>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="ti-folder"></i> Properties</h3>
        </div>
        <div class="card-body">
            {% if properties %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Property Name</th>
                            <th>Landlord</th>
                            <th>Address</th>
                            <th>Property Type</th>
                            <th>Available Units</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for property in properties %}
                            <tr>
                                <td>{{ property.property_id }}</td>
                                <td>{{ property.address.address_line_1 }}, {{ property.address.city }}, {{ property.address.province }}, {{ property.address.country }}</td>
                                <td>{{ property.property_type }}</td>
                                <td>{{ property.available_units }}</td>
                                <td>{{ property.landlord }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="card-text m-b-2">
                <p class="text">No properties available for Company: <span class="text-info"><strong><em>{{ company.company_name }}</em></strong></span></p>
                </div>
            {% endif %}
            <div class="card-footer">
                <a href="{{ url_for('companies.get_companies') }}" class="btn btn-app btn-warning mr-2 mr-md-12 mb-2 mb-md-0">
                    <i class="ti-briefcase"></i> Companies
                </a>
                <a href="{{ url_for('buildings.add_building', company_id=company.company_id) }}" class="btn btn-app btn-info">
                    <i class="ti-save"></i> Add Property
                </a>
            </div>
        </div>
    </div>
{% endblock %}
