{% extends "layouts/page.html" %}

{% block content %}
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="card-title"><i class="ti-briefcase"> </i> Company Details</h3>
            <div>
                <a href="{{ url_for('companies.get_companies') }}" class="btn btn-sm btn-warning mr-2 mr-md-12 mb-2 mb-md-0">
                    <i class="ti-briefcase"></i> Companies
                </a>
                <a href="#" class="btn btn-sm btn-success mr-2 mr-md-12 mb-2 mb-md-0" data-toggle="modal" data-target="#companyDetailModal">
                    <i class="ti-desktop"></i> Edit
                </a>
                <a href="{{ url_for('companies.print_company', company_id=company.company_id) }}" class="btn btn-sm btn-default mr-2 mr-md-12 mb-2 mb-md-0">
                    <i class="ti-printer"></i> Print
                </a>

            </div>
        </div>
        <div class="card-body">
            <h4>{{ company.company_name }}</h4>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Location:</strong> {{ company.address_line_1 }}</li>
                        <li  class="list-group-item"><strong>City:</strong> {{ company.city }}</li>
                        <li  class="list-group-item"><strong>Postal Code:</strong> {{ company.postal_code }}</li>
                        <li class="list-group-item"><strong>Province:</strong> {{ company.province }}</li>
                        <li class="list-group-item"><strong>Country:</strong> {{ company.country }}</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Contact Number:</strong> {{ company.contact_number }}</li>
                            <li class="list-group-item"><strong>Website:</strong> <a href="{{ company.website }}" class="alert-link">{{ company.website }}</a></li>

                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#bankAccountModal">
                                    <span class="ti-wallet"></span> Bank Account
                                </button>
                                <button class="btn btn-sm btn-success ml-auto" data-toggle="modal" data-target="#showAccountModal">
                                    <span class="ti-view-list"></span> Show Bank Account
                                </button>
                            </li>

                            <div class="alert alert-primary alert-dismissible fade show">
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                              <strong>Bank Account!</strong> You can add the bank account details for the company by clicking on the "Bank Account" button.
                                This will allow you to enter the necessary information for managing financial transactions.
                            </div>

                        </ul>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <h3 class="card-title"><i class="ti-info"></i> Description</h3>
            <span class="card-text">{{ company.description }}</span>
        </div>
    </div>

{% include "companies/flow/properties.html" %}
<!--- Modals -->
<!-- Bank Account Modal -->
{% include "companies/modals/bank_account.html" %}
{% include "companies/modals/show_bank_account.html" %}
<!-- Company Details Editor -->
{% include "companies/modals/company_editor.html" %}

{% endblock %}
