

{% extends "layouts/page.html" %}

{% block content %}
                <section id="main-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h3 class="card-title">Property Development Companies</h3>
                                <div>
                                    <a href="{{ url_for('companies.get_create_company') }}"
                                       class="btn btn-sm btn-info rm-2"><i class="ti-save"> </i> Add Company</a>
                                </div>
                            </div>
                                <div class="bootstrap-data-table-panel">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <table id="bootstrap-data-table-export" class="table table-responsive-md table-responsive-lg table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Company Name</th>
                                                    <th>Address</th>
                                                    <th>City</th>
                                                    <th>Code</th>
                                                    <th>Province</th>
                                                    <th>Country</th>
                                                    <th><i class="ti-check-box"> </i> </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% if companies %}
                                                {% for company in companies %}
                                                    <tr>
                                                        <td> <a href="{{ url_for('companies.get_company', company_id=company.company_id)}}" class="text text-info font-weight-bold"> {{ company.company_name or '' }} </a></td>
                                                        <td>{{ company.address_line_1 or '' }}</td>
                                                        <td>{{ company.city or '' }}</td>
                                                        <td>{{ company.postal_code or '' }}</td>
                                                        <td>{{ company.province or '' }}</td>
                                                        <td>{{ company.country or '' }}</td>
                                                        <td><a href="{{ url_for('companies.get_company', company_id=company.company_id)}}"> Open</a> </td>
                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                <tr>
                                                    <td>Tiger Nixon</td>
                                                    <td>3</td>
                                                    <td>35</td>
                                                    <td>7</td>
                                                    <td>28</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>Garrett Winters</td>
                                                    <td>3</td>
                                                    <td>35</td>
                                                    <td>7</td>
                                                    <td>28</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>Ashton Cox</td>
                                                    <td>3</td>
                                                    <td>35</td>
                                                    <td>7</td>
                                                    <td>28</td>
                                                    <td></td>
                                                </tr>
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
{% endblock %}

{% block scripts %}

{% endblock %}