{% extends "layouts/page.html" %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Capture Company Details</h3>
        </div>
        <div class="input-states">
            <form class="form-horizontal">
                <div class="form-group has-success">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="form-label">
                                <i class="ti-layout"></i>
                                Company Name
                            </label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group has-success">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="form-label">
                                <i class="ti-info"></i>
                                Company Description
                            </label>
                            <textarea type="text" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group has-success">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="form-label">
                                <i class="ti-location-pin"></i>
                                Address Line 1
                            </label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group has-success">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="form-label">
                                <i class="ti-location-pin"></i>
                                Address Line 2
                            </label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group has-success">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="form-label">
                                <i class="ti-world"></i>
                                City / Town
                            </label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group has-success">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="form-label">
                                <i class="ti-location-pin"></i>
                                Postal Code
                            </label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group has-success">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="form-label">
                                <i class="ti-flag"></i>
                                Province
                            </label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group has-success">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="form-label">
                                <i class="ti-world"></i>
                                Country
                            </label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group has-info">
                    <div class="row">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button class="btn btn-info mg-r-2">
                                <i class="ti-save"></i>
                                Save &amp; Proceed
                            </button>
                            <a href="{{ url_for('companies.get_companies') }}" class="btn btn-danger">
                                <i class="ti-close"></i>
                                Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
