{% extends "layouts/page.html" %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Capture Company Details</h3>
                </div>
                <div class="input-states">
                    <form action="{{ url_for('companies.do_create_company') }}" method="POST" enctype="application/x-www-form-urlencoded" class="form-horizontal">
                        <div class="form-group has-success">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="form-label">
                                        <i class="ti-layout"></i>
                                        Company Name
                                    </label>
                                    <input type="text" class="form-control" name="company_name">
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-success">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="form-label">
                                        <i class="ti-info"></i>
                                        Company Description
                                    </label>
                                    <textarea type="text" class="form-control" name="description"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-success">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="form-label">
                                        <i class="ti-location-pin"></i>
                                        Address Line 1
                                    </label>
                                    <input type="text" class="form-control" name="address_line_1">
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-success">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="form-label">
                                        <i class="ti-location-pin"></i>
                                        Address Line 2
                                    </label>
                                    <input type="text" class="form-control" name="address_line_2">
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-success">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="form-label">
                                        <i class="ti-world"></i>
                                        City / Town
                                    </label>
                                    <input type="text" class="form-control" name="city">
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-success">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="form-label">
                                        <i class="ti-location-pin"></i>
                                        Postal Code
                                    </label>
                                    <input type="text" class="form-control" name="postal_code">
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-success">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="form-label">
                                        <i class="ti-flag"></i>
                                        Province
                                    </label>
                                    <input type="text" class="form-control" name="province">
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-success">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="form-label">
                                        <i class="ti-world"></i>
                                        Country
                                    </label>
                                    <input type="text" class="form-control" name="country">
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-success">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="form-label">
                                        <i class="ti-mobile"></i>
                                        Contact Number
                                    </label>
                                    <input type="text" class="form-control" name="contact_number">
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-success">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="form-label">
                                        <i class="ti-link"></i>
                                        Website
                                    </label>
                                    <input type="text" class="form-control" name="website">
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-info">
                            <div class="row">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button class="btn btn-info mg-r-2">
                                        <i class="ti-save"></i>
                                        Save &amp; Proceed
                                    </button>
                                    <a href="{{ url_for('companies.get_companies') }}" class="btn btn-danger">
                                        <i class="ti-close"></i>
                                        Cancel
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Company Details</h3>
                </div>
                <div class="card-body">
                    <span class="card-content">
                        <p class="font-weight-bold">
                            Companies are used to organize Properties. A company represents a distinct entity or organization within your business. It can be a real estate agency, a property management company, or any other type of business entity that owns or manages properties.
                        </p>
                        <p class="font-weight-bold">
                            By creating companies, you can categorize and manage your properties more efficiently. Each property can be associated with a specific company, allowing you to easily track and distinguish properties based on their ownership or management.
                        </p>
                        <p class="font-weight-bold">
                            It is essential to define at least one or more companies under which your properties will be classified. This enables you to organize and streamline your property management processes effectively.
                        </p>
                        <p class="font-weight-bold">
                            To get started, simply fill out the form on the left with the necessary company details, such as the company name, description, address, contact information, and website. Click the "Save &amp; Proceed" button to create the company and proceed to the next steps.
                        </p>
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
