

<div class="row">
    <div class="card-body col-sm-12 col-lg-6 col-md-6">
        <ul class="list-group">
        <li class="list-group-item"><strong>Name:</strong> <span class="text-right">{{ property.name }}</span></li>
        <li class="list-group-item"><strong>Location:</strong> <span class="text-right">{{ property.address }}</span></li>
        <li class="list-group-item"><strong>Property Type:</strong> <span class="text-right">{{ property.property_type }}</span></li>
        <li class="list-group-item"><strong>Number of Units:</strong> <span class="text-right">{{ property.number_of_units }}</span></li>
        <li class="list-group-item"><strong>Available Units:</strong> <span class="text-right">{{ property.available_units }}</span></li>
        <li class="list-group-item"><strong>Amenities:</strong> <span class="text-right">{{ property.amenities }}</span></li>
        </ul>
    </div>
    <div class="card-body col-sm-12 col-lg-6 col-md-6">
        <ul class="list-group">
            <li class="list-group-item"><strong>Landlord:</strong> <span class="text-right">{{ property.landlord }}</span></li>
        <li class="list-group-item"><strong>Maintenance Contact:</strong> <span class="text-right">{{ property.maintenance_contact }}</span></li>
        <li class="list-group-item"><strong>Lease Terms:</strong> <span class="text-right">{{ property.lease_terms }}</span></li>
        <li class="list-group-item"><strong>Description:</strong> <span class="text-right">{{ property.description }}</span></li>
        <li class="list-group-item"><strong>Built Year:</strong> <span class="text-right">{{ property.built_year }}</span></li>
        <li class="list-group-item"><strong>Parking Spots:</strong> <span class="text-right">{{ property.parking_spots }}</span></li>
        </ul>
    </div>
</div>