<div class="card-body ">
<span class="card-content">
    Click on Unit to create a Booking - or Manage Unit
</span>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Unit Number</th>
            <th>Is Occupied</th>
            <th>Rental Amount</th>
            <th class="d-none d-sm-table-cell">Leased</th>
            <th class="d-none d-sm-table-cell">Unit Area</th>
        </tr>
    </thead>
    <tbody>
        {% for unit in units %}
            <tr>
                <td><a href="{{ url_for('buildings.get_unit', building_id=unit.property_id, unit_id=unit.unit_id) }}" class="alert-link"> {{ unit.unit_number }}</a></td>
                <td>{{ unit.is_occupied }}</td>
                <td>{{ unit.rental_amount }}</td>
                <td>{{ True if unit.tenant_id else False }}</td>
                <td class="d-none d-sm-table-cell">{{ unit.unit_area }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
