
<div class="card">
    <div class="card-header   d-flex justify-content-between align-items-center">
        <h3 class="card-title">
            <span class="font-weight-bold font-italic">Tenant Details</span>
        </h3>
        <div>
            <button class="btn btn-sm btn-primary">
                <i class="ti-email"> </i>
                Send Invoice
            </button>
            <button class="btn btn-sm btn-info">
                <i class="ti-printer"> </i>
                Print Invoice
            </button>
        </div>
    </div>
<div class="row">
    <div class="card-body col-lg-6 col-md-6 col-sm-12">
    <div class="card-header">
        <h3 class="card-title">Personal Details</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item"><strong>Name:</strong> {{ tenant.name }}</li>
        <li class="list-group-item"><strong>ID Number:</strong> {{ tenant.id_number }}</li>
        <li class="list-group-item"><strong>Company ID:</strong> {% if tenant.company_id %}{{ tenant.company_id }}{% else %}N/A{% endif %}</li>
        <li class="list-group-item"><strong>Email:</strong> {{ tenant.email }}</li>
        <li class="list-group-item"><strong>Cell:</strong> {{ tenant.cell }}</li>
        <li class="list-group-item"><strong>Is Renting:</strong> {% if tenant.is_renting %}Yes{% else %}No{% endif %}</li>
        <li class="list-group-item"><strong>Lease Start Date:</strong> {% if tenant.lease_start_date %}{{ tenant.lease_start_date }}{% else %}N/A{% endif %}</li>
        <li class="list-group-item"><strong>Lease End Date:</strong> {% if tenant.lease_end_date %}{{ tenant.lease_end_date }}{% else %}N/A{% endif %}</li>
    </ul>
    </div>
    <div class="card-body col-lg-6 col-md-6 col-sm-12">
    <div class="card-header">
        <h3 class="card-title">Company Details</h3>
    </div>
    {% if tenant.company_id %}
        <ul class="list-group">
            <li class="list-group-item"><strong>Company ID:</strong> {{ company.company_id }}</li>
            <li class="list-group-item"><strong>Company Name:</strong> {% if company.company_name %}{{ company.company_name }}{% else %}N/A{% endif %}</li>
            <li class="list-group-item"><strong>Description:</strong> {% if company.description %}{{ company.description }}{% else %}N/A{% endif %}</li>
            <li class="list-group-item"><strong>Address Line 1:</strong> {% if company.address_line_1 %}{{ company.address_line_1 }}{% else %}N/A{% endif %}</li>
            <li class="list-group-item"><strong>Address Line 2:</strong> {% if company.address_line_2 %}{{ company.address_line_2 }}{% else %}N/A{% endif %}</li>
            <li class="list-group-item"><strong>City:</strong> {% if company.city %}{{ company.city }}{% else %}N/A{% endif %}</li>
            <li class="list-group-item"><strong>Postal Code:</strong> {% if company.postal_code %}{{ company.postal_code }}{% else %}N/A{% endif %}</li>
            <li class="list-group-item"><strong>Province:</strong> {% if company.province %}{{ company.province }}{% else %}N/A{% endif %}</li>
            <li class="list-group-item"><strong>Country:</strong> {% if company.country %}{{ company.country }}{% else %}N/A{% endif %}</li>
            <li class="list-group-item"><strong>Contact Number:</strong> {% if company.contact_number %}{{ company.contact_number }}{% else %}N/A{% endif %}</li>
            <li class="list-group-item"><strong>Website:</strong> {% if company.website %}{{ company.website }}{% else %}N/A{% endif %}</li>
        </ul>
    {% else %}
        <div class="card-body">
        <span class="card-content">
            Either the Tenant is not representing a Company or
            The Tenant Company Data has not been entered yet
        </span>

        <div class="card-footer">
            <!-- Button to open the modal dialog -->
            <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#companyModal">
                <i class="ti-folder"> </i>
                Add Company Details
            </button>
        </div>
        </div>
    {% endif %}
    </div>
</div>
</div>