

{% extends "layouts/page.html" %}

{% block content %}
    <div class="card">
        <div class="col-lg-12">
            <div class="card">
                <div class="bootstrap-data-table-panel">
                    <div class="table table-responsive">
                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Contact Person</th>
                                    <th>Cell</th>
                                    <th>Tell</th>
                                    <th>Email</th>
                                    <th>Website</th>
                                    <th><i class="ti-check-box"> </i> </th>
                                </tr>
                            </thead>
                            {# Use Jinja to load Contact Details #}
                            <tbody>
                                <tr>
                                    <td>Zubeda</td>
                                    <td>07113432556</td>
                                    <td>07113432556</td>
                                    <td>zube@hrental-manager.site</td>
                                    <td>https://rental-manager.site/</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="input-states">
            <form class="form-horizontal">
                <div class="form-group has-success">
                    <div class="row">
                        <label class="col-sm-3 control-label">Contact Person</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group has-success">
                    <div class="row">
                        <label class="col-sm-3 control-label">Tel</label>
                        <div class="col-sm-9">
                            <textarea type="text" class="form-control"> </textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group has-success">
                    <div class="row">
                        <label class="col-sm-3 control-label">Cell</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group has-success">
                    <div class="row">
                        <label class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group has-success">
                    <div class="row">
                        <label class="col-sm-3 control-label">Website</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="form-group has-info">
                    <button class="btn btn-info m-r-4"><i class="ti-plus"> </i> Add More</button>
                    <button class="btn btn-info"><i class="ti-save"> </i> Create</button>
                </div>

            </form>
        </div>
    </div>
{% endblock %}