{% extends "layouts/page.html" %}

{% block content %}
<div class="card">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#unit-details">
                <span class="font-weight-bold">
                    Unit Details
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#book-unit">
                <span class="font-weight-bold">
                    Create Booking/Rental
                </span>
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="unit-details">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h3 class="card-title font-weight-bold">
                        <i class="ti-home"> </i>
                        Unit Details
                    </h3>
                    <div>
                        <a href="{{ url_for('buildings.get_building', building_id=unit.property_id) }}" class="btn btn-sm btn-primary font-weight-bold text-white">
                            <i class="ti-briefcase"> </i>
                            Property Details
                        </a>
                        <a class="btn btn-sm btn-warning font-weight-bold text-white" data-toggle="modal" data-target="#addBillModal">
                            <i class="ti-money"> </i>
                            Add Bill
                        </a>
                    </div>
                </div>
                {% include "building/units/tables/unit_details.html" %}
                {% if charged_items %}
                    {% include "building/units/tables/applied_charges.html" %}
                {% endif %}
            </div>
        </div>

        <div class="tab-pane fade" id="book-unit">
            <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="card-title font-weight-bold"> <i class="ti-save"> </i> Create Booking / Rental </h3>
                <div>
                <button id="add-unit-btn" class="btn btn-sm btn-primary mr-2" data-toggle="modal" data-target="#addTenantModal">
                    <i class="ti-save"></i> Add Tenant
                </button>
                </div>

            </div>
            {% include "building/units/tables/add_tenant.html" %}
            </div>
        </div>
    </div>
</div>

{% include "building/modals/add_tenant.html" %}
{% include "building/units/modals/add_bill_modal.html" %}

{% endblock %}
